@font-face {
    font-family: main;
    src: url(./assets/Grandstander-VariableFont_wght.ttf);
}

body, html {
    margin: 0;
    font-family: main;
}


body {
    background-image: url(./assets/forest.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}
.logo {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(2px 5px 0px rgba(0, 0, 0, 0.35));
}




@media only screen and (max-width: 768px) {

    .logo{
        width: 80%;
        margin-top: 100px;
    }
}


@media only screen and (min-width: 768px) {

    .logo{
        width: 700px;

    }
}
